@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.main-text {
  color: #111827;
}
.secoud-text {
  color: #6b7280;
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}
